# URL do projeto Supabase
SUPABASE_URL=https://sua-url-do-supabase.supabase.co

# Chave secreta ou Anon do Supabase (para operacoes de backend no Storage/DB)
SUPABASE_KEY=seu-token-do-supabase

# Chave da API do OpenAI para processar imagens com GPT-4o-mini (Vision)
OPENAI_API_KEY=sua-chave-api-da-openai
