.env
.env.local
.env.backup

catalogo-service/.env
catalogo-service/.env.backup

node_modules
/node_modules
node_modules/.bin/openai

dist
# catalogo-service: arquivos gerados automaticamente
catalogo-service/output/
catalogo-service/output/**
catalogo-service/output/temp/

catalogo-service/logs/
catalogo-service/logs/**

catalogo-service/catalogo-service/output/
catalogo-service/catalogo-service/output/**
catalogo-service/catalogo-service/output/temp/

catalogo-service/catalogo-service/logs/
catalogo-service/catalogo-service/logs/**

catalogo-service/cache/
catalogo-service/catalogo-service/cache/
